body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202D3F;
    font-family:Arial, Helvetica, sans-serif;
}

.respostas{
    color: #fff;
    text-align: center;
    height: 150px;
    width: 200px;
}


h1, h3, label {
    color: #fff;
}

.calcularTri{
    text-align: center;
    height: 150px;
    width: 200px;
}